<img src="/about.png" class="icon" alt="">
<style>
	h1 {text-align: center;}
	h3 {text-align: center;}
	h4 {text-align: center;}
	p {text-align: center;}
</style>
<h1>Общата площ на пристанищен терминал Леспорт е 124 000 кв.метра.</h1>
<h3>Пристанищният терминал разполага със закрити складови площи от 2338 кв.метра и открити складови площадки от 69 195 кв.метра</h3>
<h4>Разположение и достъп-
Пристанищен терминал Леспорт е разположен на северния бряг на Варненското езеро, на 10 км. западно от входния фар на Свети Николай Чудотворец и в непосредствена близост до град Варна.
Като част от Пристанище Варна, Пристанищен терминал Леспорт има стратегическо значение, свързвайки останалите черноморски държави с България и Европейския съюз.</h4>

<p>

	Морски достъп-
	Морският достъп на корабите се осъществява през Канал No 1 до Варненското езеро. Позволеното газене в Канал No 1 е 11,50 м, а допустимият максимален еърдрафт е 41,75 м.
	Продължителността на прехода през канала варира от 40 до 80 минути в зависимост от големината на кораба. Корабите обичайно се нуждаят от един влекач за преминаването през канала. След преминаване на канала разстоянието до пристанище Леспорт е около 5 мили по Варненското езеро
	История на пристанищен терминал Леспорт-
	Пристанищен терминал Леспорт е построен през 1973 г. като специализиран терминал за претоварване на дървен материал от бившата съветска република Коми. В последствие терминала се специализира като мултифункционален за генерални и сухи насипни товари.
	Терминалът функционира под държавното ръководство на Министерство на транспорта до 2006 година.
	<a href="/" title="">home</a>
</p>