<img src="/home.png" class="icon" alt="">
<style>
	h1 {text-align: center;}
	h3 {text-align: center;}
	h4 {text-align: center;}
	p {text-align: center;}
</style>
<h1>За компанията</h1>
<h3>„Пристанище Леспорт” АД е основано на 15 март 2005 г. с решение на Варненски окръжен съд. </h3>
<h4>Основен акционер в дружеството, притежаващ 99% от капитала, е „Химимпорт” АД.</h4>


<p>
	Това приложение се задвижва от Sinatra_Ruby.
	<a href="/about" title="">about</a> Добре дошли в страницата за информация
</p>